/* menu - begin */
.barraMenu{
    height: 37px;
    background-color: rgb(179, 179, 179);
}

.divFloatLeft{
   float: left;
   padding-left: 10px;
   padding-top: 10px;
}

.menuAlignToMid{
    margin-left: 40%;
}

a{
    color: black;
    border: 2px solid black;
}

a:link{
    text-decoration: none;
    background-color: #DEDEDE;
}

a:hover{
    background-color: #959595;
}
/* menu - end */

/* curriculo - begin */
.imgAlignLeft{
    padding-left: 31.5%;
    float: left;
}

.textAlignToImg{
    padding-right: 29%;
}
/* dados curriculo - end */



