body{
    margin: 0px;
}
/* menu - begin */
.barraMenu{
    height: 40px;
    background-color: rgb(179, 179, 179);
}

.divFloatLeft{
   float: left;
   padding-left: 10px;
   padding-top: 10px;
   font-size: large; 
}

.menuAlignToMid{
    margin-left: 42%;
}

a{
    color: black;
    border: 2px solid black;
}

a:link{
    text-decoration: none;
    background-color: #DEDEDE;
}

a:hover{
    background-color: #959595;
}
/* menu - end */

/* curriculo - begin */
.imgAlignLeft{
    padding-left: 34%;
    float: left;
}

.textAlignToImg{
    padding-right: 29%;
}
/* dados curriculo - end */

/* redes sociais - begin */
.leftInstagram{
    float: left;
    padding-left: 38%;
    font-size: x-large; 
}

.rightEndereco{
    float: left;
    padding-left: 5%;
    font-size: x-large; 
}

.alignOutrosDados{
    font-size: x-large;
    padding-left: 58%; 
}
/* redes sociais - end */

/* tabelas - begin */
.tableAlignCenter{
    padding-left: 46.5%;
}
/* tabelas - end */
