.divFloatLeft{
   float: left;
   padding-left: 10px;
}

.divFloatLeftImg{
    float: left;
}

.MenuAlignToMid{
    margin-left: 40%;
}

.DadosAlignToMid{
    margin-left: 30%;
}

a{
    color: black;
    border: 2px solid black;
}

a:link{
    text-decoration: none;
    background-color: #DEDEDE;
}

a:hover{
    background-color: #959595;
}

.marginTextDados{
    text-align: left;
    margin: auto;
    padding-left: 50px;
    border: 1px solid black;
}